@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.site {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 425px;
  min-width: 375px;
}

/* styling image */
.hero-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

/* styling header */
.site > header {
  padding: 3rem 3rem 1rem 3rem;
}

.site > header > h2 {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.site > header > p {
  font-size: 1.05rem;
  line-height: 1.7;
}

/* section info styling */
.info {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

#avatar-picture {
  display: block;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

#user {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 1rem;
}

#user > span {
  color: var(--desaturated-dark-blue);
  display: block;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 0.2rem;
}

#share-btn {
  display: block;
  border-radius: 50%;
  border: 0 solid transparent;
  background-color: var(--light-grayish-blue);
  margin-left: auto;
  fill: var(--desaturated-dark-blue);
}

#share-btn:hover {
  background-color: var(--grayish-blue);
  fill: white;
  cursor: pointer;
}

#share-btn > svg {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.2rem;
}

.social-links-pop-up {
  background-color: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  fill: white;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4rem;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
}

.pop-up-theme {
  background-color: var(--very-dark-grayish-blue);
}

@media screen and (min-width: 960px) {
  .social-links-pop-up {
    background-color: var(--very-dark-grayish-blue);
    color: var(--grayish-blue);
    box-shadow: 0 0.5rem 0.7rem 0 rgba(0, 0, 0, 0.2);
    fill: white;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 100;
    width: 15rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }

  .social-links-pop-up::before {
    content: "";
    background-color: var(--very-dark-grayish-blue);
    box-shadow: 0 0.5rem 0.7rem 0 rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    right: 110px;
    z-index: -1;
  }
  .social-links-pop-up::after {
    content: "";
    background-color: var(--very-dark-grayish-blue);
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    right: 110px;
  }

  .site {
    display: grid;
    min-width: 960px;
    max-height: 400px;
    grid-template-columns: 40% auto;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "i h"
      "i f";
  }

  .hero-image {
    border-radius: 1rem 0 0 1rem;
    grid-area: i;
    min-height: 400px;
    object-fit: cover;
  }

  .site > header > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 3rem;
  }

  .site > header {
    grid-area: h;
  }

  .info {
    grid-area: f;
  }
}
